<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="root">
	<div class="container">
		<h1 class="fleft">List of users</h1>
		<button class="fright addNew" @click="showingAddModal = true;">Add New</button>
		<div class="clear"></div>
		<hr>
		<p class="errorMessage" v-if="errorMessage">
			{{errorMessage}}
		</p>

		<p class="successMessage" v-if="successMessage">
			{{successMessage}}
		</p>

		<table class="list">
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Comment</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr v-for="user in users">
				<td>{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>{{user.mobile}}</td>
				<td>{{user.comment}}</td>
				<td><button @click="showingEditModal = true; selectUser(user)">Edit</button></td>
				<td><button @click="showingDeleteModal = true; selectUser(user)">Delete</button></td>
			</tr>
		</table>
	</div>
	<div class="modal" id="addModal" v-if="showingAddModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<p class="fleft">Add New User</p>
				<button class="fright close" @click="showingAddModal = false;">x</button>
				<div class="clear"></div>
			</div>
			<div class="modalContent">
				<table class="form">
					<tr>
						<th>Username</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.username"> </td>
					</tr>
					<tr>
						<th>Email</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.email"> </td>
					</tr>
					<tr>
						<th>Mobile</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.mobile"> </td>
					</tr>
					<tr>
						<th>Comment</th>
						<th> : </th>
						<td> <textarea class="form-control" name="" rows="3" cols="20" id="comment" v-model="newUser.comment"></textarea> </td>
					</tr>
					<tr>
						<th></th>
						<th> </th>
						<td> <button @click="showingAddModal = false; saveUser();">Save</button> </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal" id="editModal" v-if="showingEditModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<p class="fleft">Edit This User</p>
				<button class="fright close" @click="showingEditModal = false;">x</button>
				<div class="clear"></div>
			</div>
			<div class="modalContent">
				<table class="form">
					<tr>
						<th>Username</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.username"> </td>
					</tr>
					<tr>
						<th>Email</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.email"> </td>
					</tr>
					<tr>
						<th>Mobile</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.mobile"> </td>
					</tr>
					<tr>
						<th></th>
						<th> </th>
						<td> <button @click="showingEditModal = false; updateUser()">Update</button> </td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="modal" id="deleteModal" v-if="showingDeleteModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<p class="fleft">Are you sure?</p>
				<button class="fright close" @click="showingDeleteModal = false;">x</button>
				<div class="clear"></div>
			</div>
			<div class="modalContent">
				<p>You are going to delete '{{clickedUser.username}}'.</p>
				<br><br><br><br><br>
				<button @click="showingDeleteModal = false; deleteUser()">Yes</button>
				<button @click="showingDeleteModal = false;">No</button>
			</div>
		</div>
	</div>
</div>
	
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
<script src="app.js"></script>


<div id="components-demo">
	<button-counter></button-counter>
	<button-counter></button-counter>
	<button-counter></button-counter>
</div>
<script>  

Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

new Vue({ el: '#components-demo' })
</script>
</html>